Repository pae26/labeler-test, pull requests merged in 2021-08, with the labels that each got.

#2 Sub branch
  .github/workflows/label.yml
  api/api.txt
  cli/cli.txt
Labels: api, cli

#3 add text file
  api/api.txt
  batch/batch.txt
  web/web.txt
Labels: batch

#4 modify text file
  api/api.txt
  cli/cli.txt
Labels: api, cli

#5 test sub directry
  api/sub/api2.txt
Labels: api

#13 labeler test
  .github/workflows/label.yml
  test-dir/test-dir-sub/test-dir2.txt
Labels: test-dir-sub

#14 trigger test
  .github/labeler.yml
  api/api.txt
  cli/cli.txt
Labels: api, cli

#15 add test dir
  test-dir/second-dir/second.txt
Labels: test-dir-sub

#26 labeler test
  api/sub/api2.txt
  test-dir/sub-test-dir-1/sub-test-1.txt
Labels: api, sub-test-dir

#27 labeler test
  test-dir/sub-test-dir-2/sub-test-2.txt
Labels: sub-test-dir

#28 remove dir
  .github/labeler.yml
  api/api.txt
  api/sub/api2.txt
  batch/batch.txt
  cli/cli.txt
  web/web.txt
Labels: web, api, batch, cli

#29 redesign
  .github/labeler.yml
  test-dir1/sub-test-dir1/sub-test1.txt
  test-dir1/sub-test-dir2/sub-test2.txt
  test-dir1/test1.txt
  test-dir2/test2.txt
Labels: test-dir1, test-dir2

#30 labeler test
  .github/labeler.yml
  test-dir1/sub-test-dir2/sub-test2.txt
  test/test-dir1/sub-test-dir1/sub-test1.txt
  test/test-dir1/sub-test-dir2/sub-test2.txt
  test/test-dir1/test1.txt
  test/test-dir2/test2.txt
Labels: test-dir1, test

#31 labeler test
  test/test-dir1/sub-test-dir2/sub-test2.txt
Labels: test
